  #mitabla a{
    display:block;
    background-color:red;
    text-decoration:none;
    height:100%;
  }
  #mitabla a:hover{
    background-color:blue;
    color:white;
  }
    #mitabla1 a{
    display:block;
    background-color:yellow;
    text-decoration:none;
    height:100%;
  }
  #mitabla1 a:hover{
    background-color:blue;
    color:white;
  }
  
    #mitabla2 a{
    display:block;
    background-color:blue;
    text-decoration:black;
    height:100%;
  }
  #mitabla2 a:hover{
    background-color:black;
    color:white;
  }